#add-player-to-season 
{
    background: none;
    border: none;
    color: white;
}

.dropdown-toggle
{
    color: white;
}

.dropdown-menu
{
    background:rgba(124, 124, 124, 0.705);
    border-radius: 5px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    backdrop-filter: blur(10px);
}
#season-header .dropdown-menu
{
    width: 500px;
    left: calc(50vw - 300px);
}
#season-header .dropdown-toggle::after
{
    color: #fff0;
}
#season-header .dropdown:hover .dropdown-toggle::after
{
    color: white;
}
.dropdown-menu:hover
{  
    /* background:rgba(187, 187, 187, 0.705);
    backdrop-filter: blur(10px); */
}
.dropdown-menu button
{  
    padding: 5px 15px;
}
.dropdown-menu button:hover
{  
    background:rgba(187, 187, 187, 0.705);
    backdrop-filter: blur(10px);
}
.dropdown-item
{
    color:white;
}
.dropdown-item:hover
{
    background: none;
}
.dropdown button#header-dropdown
{
    background: none;
    border:none;
    margin-bottom: 0px;
    font-size: xx-large;
}