@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #747474;
    border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border: 1px solid #fff0;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.hide
{
    display: none;
}

.display
{
    display: block;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(11, 11, 11));
}
.ChessBody{
    background-image: url('../images/background-stand-alone-BW.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 99vw;
}

.page{
    backdrop-filter: opacity(0);
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.header select
{
    font-size: xx-large;
    background: none;
    border: none;
    color:white;
    font-weight: 700;
    margin: 10px 0px;
}
.header select option
{
    font-size: xx-large;
    color:rgb(0, 0, 0);
    background: rgba(248, 248, 255, 0.236);
    backdrop-filter: blur(5px);
    padding: 5px;
}

.header select option #addSeasonBtn
{
    font-size: xx-large;
    color:rgb(0, 0, 0);
    background: rgba(128, 128, 128, 0.453);
}

/* .content {
    padding-top: 1.1rem;
} */

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    /* z-index: 1000; */
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

/* Main Content */
    /* Standings */
    .standing-view,
    .games-view
    {
        overflow: overlay;
        height: 85vh;
    }
    .standing-view
    {
        min-width: 720px;
    }
    .games-view
    {
        min-width: 450px;
    }
    .standings-wrapper 
    {
        height: 80vh;
        overflow: auto;
        padding:0px 40px;
    }
    .resume-header-wrapper
    {
        padding:15px 10%;
        margin-top: 10px;
    }
    .resume-highlights-wrapper
    {
        padding: 5px 30% 5px 15%;
        font-size: 1.25rem;
        margin-top:25px;
        margin-bottom:25px;
    }
    .resume-highlights-wrapper .row
    {
        margin-left:0;
    }
    .resume-highlights-wrapper .col
    {
        padding: 20px;
    }
    .resume-highlights-wrapper .col-list
    {
        background: rgba(122, 122, 122, 0.178);
        border-radius: 10px;
        width:40%;
        padding-right:15%;
        padding-left:40px;
        background:rgba(0, 113, 193, 0.534);
        backdrop-filter: blur(10px);
    }
    .resume-highlights-wrapper .dash-img
    {
        background-image: url(https://avatars.githubusercontent.com/u/71302026?v=4);
        position:fixed;
        right:19%;
        width:357px;
        height:200px;
        border-radius: 10px 10px 0px 0px;
        background-size:contain;
        background-repeat: no-repeat;
    }
    
    .resume-highlights-wrapper .dash-img:hover
    {
        transform: scale(1.1)
    }
    .resume-highlights-wrapper .dash-img button
    {
        position:relative;
        top:100%;
        width:100%;
        border-radius: 0px 0px 10px 10px;
        border:none;
        color: white;
        background:rgba(0, 0, 0, 0.534);
        backdrop-filter: blur(10px);
        padding: 10px;
    }
    .resume-highlights-wrapper .dash-img button:hover
    {
        background:rgba(43, 43, 43, 0.534);
    }
    .list-item
    {
        list-style-position: inside;
        text-indent: -28px;
        padding-left: 30px; 
        margin-bottom:0px;
        font-size: large;
    }
    .resume-body-wrapper,
    .resume-more-wrapper
    {
        margin: 10px 10%;
        padding: 20px 40px;
        background: rgba(122, 122, 122, 0.178);
        /* backdrop-filter: blur(5px); */
        border-radius: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .resume-more-wrapper
    {
        background: rgba(0, 113, 193, 0.534);
    }
    .standings-wrapper .row,
    .resume-header-wrapper .row,
    .games-view-wrapper .row,
    .row-games-list
    {
        margin:0;
        padding: 4px 10px;
        background: rgba(122, 122, 122, 0.178);
        /* backdrop-filter: blur(5px); */
        border-radius: 10px;
        /* border-bottom: 1px solid rgba(66, 66, 66, 0.278); */
        font-size: xx-large;
        text-decoration: none;
        color:white;
    }

    .standings-wrapper .row:hover
    {
        background: rgba(114, 114, 114, 0.178);
    }

    .games-view-wrapper .table-heading,
    .games-view-wrapper .table-heading:hover,
    .standings-wrapper .table-heading,
    .standings-wrapper .table-heading:hover
    {
        background: none;
    }
    .standings-wrapper .row:last-child
    {
        border-bottom:none;
    }
    .standings-wrapper .row .name-col
    {
        max-width: 190px;
        min-width: 190px;
    }
    .standings-wrapper .row .record-col
    {
        max-width: 200px;
        min-width: 200px;
        text-align: center;
    }
    .standings-wrapper .row .rating-col
    {
        max-width: 150px;
        width: 150px;
    }
    .standings-wrapper .row button.btn
    {
        width: 140px;
        margin-top: -5px;
    }

    /* Games list styling */
    .games-view
    {
        width:      33vw;
        max-width:  40vw;
    }
    
    .games-view .row-games-list:hover
    {
        background: #fff7;
    }
    
    .row-games-list .col-auto
    {
        font-size: x-large;
        border-radius: 10px;
        margin: 5px 0px;
        padding: 5px 15px;
        width: 180px;
    }
    .row-games-list .col-game-date
    {
        width: 100px;
        font-size: medium;
        margin:auto;
        text-align: center;
    }
    .row-games-list .col-game-light
    {
        background:#ffffffee;
        color:black;
    }
    .row-games-list .col-game-dark
    {
        background: #0a09099c;
    }
    .resume-header-name
    {
        align-content: center;
        padding: 5px 20px;
        font-size: 2rem;
    }
    .resume-contacts
    {
        align-content: center;
        padding: 5px 20px;
        font-size: 1.25rem;
    }
    .row-games-list #winner
    {
        /* box-shadow: 0px 0px 4px 5px hsl(50deg 100% 50% / 48%); */
    }
    
    .row-games-list #crown
    {
        display: none;
        float: right;
    }

    .row-games-list #winner #crown
    {
        display: inline-block;
    }
    #buttons-menu 
    {
        padding-left: 40px;
    }
    .ext-link
    {
        background: none;
        border:none;
        position:relative;
        top: 3px;
    }
    .ext-link:hover
    {
        background: #5555555d;
        border-radius: 10px;
    }
    .no-background
    {
        background: transparent;
    }

.loading-progress {
    height:100vh;
}